/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.autofill-item-box {
  --default-font-size: 12;
}

@media (prefers-contrast) {
  xul|richlistitem[originaltype="autofill-profile"][selected="true"] > .autofill-item-box {
    background-color: SelectedItem;
  }

  .autofill-item-box {
    --comment-text-color: GrayText;
  }
}
