/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


xul|richlistitem[originaltype="autofill-profile"][selected="true"] > .autofill-item-box {
  background-color: SelectedItem;
  color: SelectedItemText;
}

xul|richlistitem[originaltype="autofill-insecureWarning"] {
  border-bottom: 1px solid var(--panel-separator-color);
  background-color: var(--arrowpanel-dimmed);
}

.autofill-item-box {
  --item-padding-vertical: 7px;
  --item-padding-horizontal: 10px;
  --col-spacer: 7px;
  --item-width: calc(50% - (var(--col-spacer) / 2));
  --comment-text-color: GreyText;

  --default-font-size: 12;
  --label-font-size: 12;
  --comment-font-size: 10;
}

.autofill-item-box[size="small"] {
  --item-padding-vertical: 7px;
  --col-spacer: 0px;
  --row-spacer: 3px;
  --item-width: 100%;
}

.autofill-item-box:not([ac-image=""]) {
  --item-padding-vertical: 6.5px;
  --comment-font-size: 11;
}

.autofill-item-box {
  box-sizing: border-box;
  margin: 0;
  border-bottom: 1px solid rgba(38,38,38,.15);
  padding: var(--item-padding-vertical) 0;
  padding-inline: var(--item-padding-horizontal);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: Field;
  color: FieldText;
}

.autofill-item-box:last-child {
  border-bottom: 0;
}

.autofill-item-box > .profile-item-col {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: var(--item-width);
}

.autofill-item-box > .profile-label-col {
  text-align: start;
}

.autofill-item-box:not([ac-image=""]) > .profile-label-col::before {
  margin-inline-end: 5px;
  float: inline-start;
  content: "";
  width: 16px;
  height: 16px;
  background-image: var(--primary-icon);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -moz-context-properties: fill;
  fill: var(--comment-text-color)
}

.autofill-item-box > .profile-label-col > .profile-label {
  font-size: calc(var(--label-font-size) / var(--default-font-size) * 1em);
  unicode-bidi: plaintext;
}

.autofill-item-box > .profile-comment-col {
  margin-inline-start: var(--col-spacer);
  text-align: end;
  color: var(--comment-text-color);
}

.autofill-item-box > .profile-comment-col > .profile-comment {
  font-size: calc(var(--comment-font-size) / var(--default-font-size) * 1em);
  unicode-bidi: plaintext;
}

.autofill-item-box[size="small"] {
  flex-direction: column;
}

.autofill-item-box[size="small"] > .profile-comment-col {
  margin-top: var(--row-spacer);
  text-align: start;
}

.autofill-insecure-item {
  box-sizing: border-box;
  padding: 4px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: GrayText;
}

.autofill-insecure-item::before {
  display: block;
  margin-inline: 4px 8px;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(chrome://global/skin/icons/security-broken.svg);
  -moz-context-properties: fill;
  fill: GrayText;
}
